.details_data {
  color: azure;
  letter-spacing: 3px;
  font-size: 1.2rem;
  text-align: center;
}

.details_txt {
  color: rgb(207, 228, 253);
  letter-spacing: 2px;
  font-size: 1rem;
  text-align: center;
}

.details_txt2 {
  color: rgb(218, 207, 255);
  letter-spacing: 2px;
  font-size: 1rem;
  text-align: justify;
}
