:root {
  --blues: #adff8d;
}

#loginLink:hover {
  color: var(--blues) !important;
}

#registerLink:hover {
  color: var(--blues) !important;
}

.iconsHover:hover {
  color: var(--blues) !important;
}

#terms {
  color: #074bd4 !important;
}

#terms:hover {
  color: aliceblue !important;
}
